{% extends "base.html" %}
{% block body %}
<div data-role="page" data-title="Control" id="control" data-add-back-btn="true">
	<div data-role="header" data-theme="b">
		<h1>Pi Remote Control</h1>
	</div>

    <div data-role="content">
        
        <div id ="remote">
            <svg width="100%">
            	<svg viewBox="0 0 400 600">
					<!-- Backgrounds -->
					<g opacity=".5" >
					  <path d="M 0 200 A 200 200 0 1 1 400 200" fill="black" />
					<rect x="00" y="200" width="400" height="400" fill="black" />
					</g>					

					
					<!-- Arrows -->					
					<g opacity="1" >
					  <path d="M 150,130 200,100 250,130 z" fill="white" stroke="gray" onclick="clickedOp('KEY_UP');"/>
					  <path d="M 150,270 200,300 250,270 z" fill="white" stroke="gray" onclick="clickedOp('KEY_DOWN');"/>
					  
					  <text x="185" y="205" font-size="20" fill="white" onclick="clickedOp('KEY_OK');">OK</text>
					  <path d="M 130,150 100,200 130,250 z" fill="white" stroke="gray" onclick="clickedOp('KEY_LEFT');"/>
					  <path d="M 270,150 300,200 270,250 z" fill="white" stroke="gray" onclick="clickedOp('KEY_RIGHT');"/>
					</g>
	
					<!-- Controls-->
					<circle cx="300" cy="88" r="30" fill="#990033" onclick="clickedOp('KEY_USB');" />
					  <text x="280" y="92" font-size="20" fill="white" onclick="clickedOp('KEY_USB');">USB</text>
					<circle cx="200" cy="50" r="30" fill="#990033" onclick="clickedOp('KEY_TUNER');" />
					  <text x="177" y="55" font-size="18" fill="white" onclick="clickedOp('KEY_TUNER');">Tuner</text>
					<circle cx="100" cy="88" r="30" fill="#990033" onclick="clickedOp('KEY_TV');" />
					  <text x="89" y="92" font-size="18" fill="white" onclick="clickedOp('KEY_TV');">TV</text>
					<circle cx="56" cy="170" r="30" fill="#990033" onclick="clickedOp('KEY_PS3');" />
					  <text x="39" y="176" font-size="18" fill="white" onclick="clickedOp('KEY_PS3');">PS3</text>
					<circle cx="346" cy="170" r="30" fill="#990033" onclick="clickedOp('KEY_APPLE');" />
					  <text x="324" y="176" font-size="18" fill="white" onclick="clickedOp('KEY_APPLE');">Apple</text>


					<!-- Colour Buttons -->
					<circle cx="65"  cy="350" r="30" fill="red" onclick="clickedOp('KEY_POWER');" />
					  <text x="42" y="355" font-size="20" fill="white" onclick="clickedOp('KEY_POWER');">PWR</text>
					<circle cx="155" cy="350" r="30" fill="darkorange" onclick="clickedOp('KEY_TV_POWER');" />
					  <text x="144" y="345" font-size="18" fill="white" onclick="clickedOp('KEY_TV_POWER');">TV</text>
					  <text x="135" y="365" font-size="18" fill="white" onclick="clickedOp('KEY_TV_POWER');">PWR</text>
					<circle cx="245" cy="350" r="30" fill="green" onclick="clickedOp('KEY_TV_INPUT');" />
					  <text x="233" y="345" font-size="18" fill="white" onclick="clickedOp('KEY_TV_INPUT');">TV</text>
					  <text x="225" y="365" font-size="18" fill="white" onclick="clickedOp('KEY_TV_INPUT');">Input</text>
					<circle cx="335" cy="350" r="30" fill="purple" onclick="clickedOp('KEY_RECV');" />
					  <text x="312" y="355" font-size="18" fill="white" onclick="clickedOp('KEY_RECV');">RECV</text>

					<!-- Channel-->
					<circle cx="100" cy="460" r="30" fill="#990033" onclick="clickedOp('KEY_CHANNELUP');" />
					  <text x="82" y="467" font-size="20" fill="white" onclick="clickedOp('KEY_CHANNELUP');">CH+</text>
					<circle cx="100" cy="540" r="30" fill="#990033" onclick="clickedOp('KEY_CHANNELDOWN');" />
					  <text x="82" y="547" font-size="20" fill="white" onclick="clickedOp('KEY_CHANNELDOWN');">CH-</text>

					<circle cx="200" cy="460" r="30" fill="#990033" onclick="clickedOp('KEY_MUTEON');" />
					  <text x="182" y="457" font-size="18" fill="white" onclick="clickedOp('KEY_MUTEON');">Mute</text>
					  <text x="187" y="477" font-size="18" fill="white" onclick="clickedOp('KEY_MUTEON');">ON</text>

					<circle cx="200" cy="540" r="30" fill="#990033" onclick="clickedOp('KEY_MUTEOFF');" />
					  <text x="182" y="537" font-size="18" fill="white" onclick="clickedOp('KEY_MUTEOFF');">Mute</text>
					  <text x="182" y="557" font-size="18" fill="white" onclick="clickedOp('KEY_MUTEOFF');">OFF</text>
					
					<!-- Volume-->
					<circle cx="300" cy="460" r="30" fill="#990033" onclick="clickedOp('KEY_VOLUMEUP');" />
					  <text x="291" y="467" font-size="20" fill="white" onclick="clickedOp('KEY_VOLUMEUP');">V+</text>
					<circle cx="300" cy="540" r="30" fill="#990033" onclick="clickedOp('KEY_VOLUMEDOWN');" />
					  <text x="292" y="547" font-size="20" fill="white" onclick="clickedOp('KEY_VOLUMEDOWN');">V-</text>

					<text x="288" y="505" font-size="14" fill="white" id="volume_level"></text>
					
            	</svg>
            
            </svg>
        </div>
    </div>
</div>        
{% endblock %}


